body {
  background-color: rgb(223, 223, 223);
}

h1 {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

h4,
ol li {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

p {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.titl,
ul li {
  list-style: disc;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

/* ---------------------------------------------------- */
